// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images
//
// 1. Hide the actual image element to allow background-size: cover treatment on
//    large screens to scale image. Use visibility because the JS uses the height
//    to set the slide size
//
// 2. With JS on, minimise the jump in content as you progressively enhance the
//    slider. Slowly fade and slide the height, instead of a jump in collapsing
//    hidden content.
// -----------------------------------------------------------------------------

.heroCarousel {
    //margin-bottom: (spacing("double") + spacing("single"));
    margin-bottom: 0;
    margin-top: -(spacing("single") + spacing("base"));

    .js & { // 2
        max-height: remCalc(0);
        opacity: 0;
        overflow: hidden;
        transition: all 600ms ease-out;
    }

    &.slick-initialized { // 2
        max-height: remCalc(1000);
        opacity: 1;
    }

    .slick-next,
    .slick-prev {
        top: 20%;

        @include breakpoint("medium") {
            top: 50%;
        }
    }

    .slick-next {
        right: 0;

        @include breakpoint("medium") {
            right: 0;
        }
    }

    .slick-prev {
        left: 0;

        @include breakpoint("medium") {
            left: 0;
        }
    }

    .slick-dots {
        //bottom: spacing("third");
        bottom: 0;
        position: relative;

        @include breakpoint("medium") {
            //bottom: spacing("single");
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        li {
            //@include carouselOpaqueBackgrounds($slick-dot-bgColor);
        }
    }

}

.heroCarousel-slide {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    a {
        text-decoration: none;
    }
}

.heroCarousel-image {
    @include breakpoint("medium") { // 1
        visibility: hidden;
    }
}

.heroCarousel-content {
    background-color: rgba($carousel-bgColor, 1);
    padding: spacing("half") spacing("single") (spacing("double"));
    text-align: center;

    @include breakpoint("medium") {
        @include carouselOpaqueBackgrounds;
        background-color: rgba($carousel-bgColor, 0.9);
        left: 0;
        margin: 0 auto;
        padding: spacing("single") * 1.5;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: remCalc(700px);

        &.heroCarousel-content--empty {
            background-color: transparent;
        }
    }
}

.heroCarousel-title {
    color: $carousel-title-color;
    font-size: fontSize("small");
    margin-top: 0;

    @include breakpoint("medium") {
        font-size: fontSize("hero");
    }
}

.heroCarousel-description {
    color: $carousel-description-color;
    font-size: fontSize("tiny");

    @include breakpoint("small") {
        font-size: fontSize("smallest");
    }

    @include breakpoint("medium") {
        font-size: fontSize("smaller");
    }
}

.heroCarousel-action {
    margin: 0;

    @include breakpoint("medium") {
        margin-top: spacing("single");
    }
}
