<div class="newsletter-footer">
	<div class="container">
		
		<div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 subscribe">
			{{#if settings.show_newsletter_box}}
                {{> components/common/subscription-form}}
            {{/if}}    
		</div>
		
	</div>
</div>

<footer class="footer" role="contentinfo">
    <div class="container">
        
        <section class="footer-info">
	        
            <!--<article class="footer-info-col col-lg-2" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>-->

            <!--<article class="footer-info-col col-lg-2" data-section-type="footer-categories">
                <h5 class="footer-info-heading">{{lang 'footer.categories'}}</h5>
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>-->
            
            
            <article class="footer-info-col col-xs-6 col-sm-3 col-md-3 col-lg-3 footer-logo">
                    {{#if template_file '===' 'pages/home'}}
				        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
				            {{> components/common/store-logo}}
				        </h1>
				    {{else}}
				        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
				            {{> components/common/store-logo}}
				        </div>
				    {{/if}}
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                {{/if}}
            </article>
            
			<article class="footer-info-col col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
				<ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <h5 class="footer-info-heading">Support</h5>
                <ul class="footer-info-list">
					<li><a href="/contact/">Contact Us</a></li>
					<li><a href="/shipping-returns/">Shipping & Returns</a></li>
					<li><a href="/security-privacy-terms/">Security & Privacy Terms</a></li>
                </ul>
            </article>
                        			
			<article class="footer-info-col col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <h5 class="footer-info-heading">Account</h5>
                <ul class="footer-info-list">
					{{#if settings.account_creation_enabled}}
		            <li>
		                {{#if customer}}
		                    <a href="{{urls.account.index}}">{{lang 'common.account'}}</a>
		                    <a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
		                {{else}}
				                    <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a> <span class="navUser-or">/</span> <a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
				                {{/if}}
				            </li>
				        {{/if}}

					<li><a href="#">Gift Certificates</a></li>
					<li><a href="#">Order Status</a></li>
                </ul>
            </article>
			


            <article class="footer-info-col col-xs-6 col-sm-3 col-md-3 col-lg-2 social-icons">
                <h5 class="footer-info-heading">Connect with us</h5>
				{{> components/common/social-links}}
                {{> components/common/payment-icons}}
            </article>
            
                <article class="footer-info-col col-lg-12 copyright-info">
        
            	{{#if theme_settings.show_copyright_footer}}
	            <div class="footer-copyright">
	                <p class="powered-by">&copy; All Rights Reserved <span id="copyright_year"></span> {{settings.store_name}} </p>
	            </div>
	            <script type="text/javascript">
	                document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
	            </script>
				{{/if}}
				
                </article>


        </section>
        <!--{{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">Powered by <a href="http://bigcommerce.com" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}-->
        </div>
</footer>
