{{#partial "page"}}

<div class="our-leathers">

<div class="cat-hero-banner">
	<div class="container">	
		    <img src="{{cdn '/assets/img/banner-library.jpg'}}" />
	</div>
</div>

<div class="container">

<div class="cat-heading-title">
	<div class="cat-breadcrumbs col-sm-4 col-md-4 col-lg-4">
		<ul class="breadcrumbs">
		        <li class="breadcrumb "><a href="/" class="breadcrumb-label">Home</a></li>
		        <li class="breadcrumb is-active"><span class="breadcrumb-label">Leather Library</span></li>
		</ul>
	</div>
	
	<div class="col-sm-4 col-md-4 col-lg-4 col-lg-4">
	<h1 class="page-heading">Our Leathers</h1>
	</div>
</div>


<p class="intro">It all starts with our extraordinary leathers alongside our commitment to fine detail and craftsmanship.<br>
If cared for properly, all BRAVE Leather products will last a lifetime.  We guarantee it.</p>

<div class="card-wrapper">

<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-hairon.jpg'}}" /><span class="title">Hair On</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Hair-on leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-buffalo.jpg'}}" /><span class="title">Buffalo</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Buffalo leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-gump.jpg'}}" /><span class="title">Gump</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Gump leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-skrunchy.jpg'}}" /><span class="title">Skrunchy</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Skrunchy leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-raw-washed.jpg'}}" /><span class="title">Raw Washed</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Raw Washed leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-croc-embossed.jpg'}}" /><span class="title">Croc Embossed</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Croc Embossed leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-shearling.jpg'}}" /><span class="title">Shearling</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Sherling leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-metallic.jpg'}}" /><span class="title">Metallic</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Metallic leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-stamped-snakeskin.jpg'}}" /><span class="title">Stamped Snakeskin</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Stamped Snakeskin leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-printed.jpg'}}" /><span class="title">Printed</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Printed leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-bridle.jpg'}}" /><span class="title">Bridle</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Bridle leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-exotic-embossed.jpg'}}" /><span class="title">Exotic Embossed</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Exotic Embossed leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-buffalo-2.jpg'}}" /><span class="title">Buffalo</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Buffalo leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-suede.jpg'}}" /><span class="title">Suede</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Suede leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


<div class="card effect__click">
    <div class="card__front">
      <span class="card__text"><img src="{{cdn '/assets/img/leather-waxed-canvas.jpg'}}" /><span class="title">Waxed Canvas</span></span>
    </div>
    <div class="card__back">
      <span class="card__text">
      Waxed Canvas leather is exactly what it sounds like. It is leather that still has its original hair on it. 
      <a href="#">LEARN MORE</a>
      <a href="#" class="shop-collection">Shop Collection</a>
      </span>
    </div>
</div>


</div> <!-- card wrapper -->


<p class="care-instructions">For care instruction check out our <a href="/leather-care-guide/">Leather Care Guide</a></p>


</div>


</div> <!-- our leathers wrapper -->
{{/partial}}
{{> layout/base}}
