{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="page">

    <h1 class="page-heading">{{ page.title }}</h1>
	 
	 
	 <div style="margin: 0 auto; width: 100%; max-width: 980px;">
	 
	 <section class="heroCarousel_"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
	    "infinite": true,
		"fade": true,
        "autoplay": false
    }'
>


{{{page.content}}}
    
        
</section>


<p>&nbsp;</p><p>&nbsp;</p>

<p align="center"><a href="http://www.braveleather.com/fall-winter-2016?sort=newest"><img src="{{cdn '/assets/img/shop-lookbook.jpg'}}" alt="Click Here"></a><p>


</div>



</div>

<style>
	.slick-prev {left: 0;}
	.slick-next {right: 0;}
</style>


{{/partial}}
{{> layout/base}}              
              
                          