{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="page">

    <h1 class="page-heading">{{ page.title }}</h1>
	 
	 
	 <div style="margin: 0 auto; width: 100%; max-width: 980px;">
	 
	 <section class="heroCarousel_"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
	    "infinite": true,
		"fade": false,
        "autoplay": false
    }'
>


{{{page.content}}}  
       
    
</section>
</div>



</div>

<style>
	.slick-prev {left: 0;}
	.slick-next {right: 0;}
</style>


{{/partial}}
{{> layout/base}}
