---
category:
    shop_by_price: false
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

</div>

<div class="cat-hero-banner">
	<div class="container">	
		{{#if category.image}}
		    <img src="{{getImage category.image 'zoom_size'}}">
		{{/if}}
	</div>
</div>

<div class="container">

<div class="cat-heading-title">
	<div class="cat-breadcrumbs col-sm-4 col-md-4 col-lg-4">
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
	
	<div class="col-sm-4 col-md-4 col-lg-4 col-lg-4">
	<h1 class="page-heading">{{category.name}}</h1>
	</div>
	
	<div class="col-sm-4 col-md-4 col-lg-4 cat-sort-products">
		{{> components/products/filter sort=pagination.category.sort}}
	</div>
</div>


<div class="page">

    <div class="animated fadeIn category-content col-lg-12" id="product-listing-container">
	    <div class="cat-description">{{{category.description}}}</div>
		{{{snippet 'categories'}}}
	    
        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
    </div>
    
</div>

<style>
	.body {margin-top: 0;}
</style>

{{/partial}}
{{> layout/base}}
