{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page contact-us">

    <h1 class="page-heading">{{page.title}}</h1>

    {{#if page.sub_pages}}
        <nav class="navBar">
            <ul class="navBar-section">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    <div class="page-content">
        {{#if forms.contact.success}}
            {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
        {{else}}
           
           <p>&nbsp;</p> 
           
            <div class="col-md-8 col-lg-6 col-lg-offset-1">
            	{{> components/page/contact-us-form}}
            </div>
            
            <div class="col-md-4 col-lg-4">
            	<p>{{{page.content}}}</p>
            </div>
           
        {{/if}}

    </div>

</main>

{{/partial}}

{{> layout/base}}
