---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        <div class="container main-banner">{{> components/carousel}}</div>
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">

<div class="section browse-juices">
 <div class="row">
 	
 	
 	<div class="col-lg-4">
	 	<div class="featured-image"><img src="{{cdn '/assets/img/browse-snacks.jpg'}}" /></div>
		<h2>Shop Snacks</h2>
		<p>All our snacks are homemade and filled with "rawsome" goodness. These snacks are delicious and hand-made with love.</p>
		<a href="#">Order Now</a>
	</div>
 	
 	<div class="col-lg-4">
		<div class="featured-image"><img src="{{cdn '/assets/img/browse-cleanses.jpg'}}" /></div>
		<h2>Shop Cleanses</h2>
		<p>Our beginner 'Reset', intermediate 'Restore' and advanced 'Revive' detox cleanses are all ready to help you feel balanced.</p>
		<a href="#">Order Now</a>
	</div>
	
 	<div class="col-lg-4">
	 	<div class="featured-image"><img src="{{cdn '/assets/img/browse-juices.jpg'}}" /></div>
	 	<h2>Shop Juices</h2>
	 	<p>Our hand-crafted juices are made with premium produce from organic growers, farmers and suppliers to ensure maximum flavor and nutritional benefit.</p>
	 	<a href="#">Order Now</a>
 	</div>
	
	
 </div>
</div>	<!-- section  -->



<div class="section organic-cold-pressed">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
		<h2>Organic Cold-Pressed Juices - Salads - Soups - Smoothies - Gluten-free Desserts - Bowls</h2>
		<h3>Visit us in Newburyport or we can deliver our cleanses to your home or office.<br>Raw, Plant-Based, Gluten-free, Dairy-free, Soy-free, Non-GMO</h3>
		</div>
	</div>
</div>


<div class="section about-us">
	<div class="row">
		<div class="col-lg-6">
			<h2>About Revitalive</h2>
			<p>We are both a community cafe and a meal delivery service! We are passionate about offering creative, organic, clean food to our local communities!</p>
			<p>Our delicious organic, dairy-free, gluten-free, soy-free, plant-based meals, smoothies and juice cleanses are made with one simple goal. To make clean eating fun, easy and accessible!</p>
			<span class="order-btn"><a href="https://www.toasttab.com/revitalive/v2/online-order" target="_blank"><i class="material-icons">chevron_right</i> Order ahead from our cafe in Newburyport and soon in Andover!</a></span>
		</div>
		
		<div class="col-lg-6">
			<h2>Testimonials</h2>
			<img src="{{cdn '/assets/img/chronicle.jpg'}}" />
			<p>Reviewed by Chronicle - Boston - WCVB.com</p>
		</div>
		
	</div>
</div>



<div class="section brand-logos">
	<div class="row">
		<div class="col-lg-12">
			<img src="{{cdn '/assets/img/footer-brands.png'}}" />
		</div>
		
	</div>
</div>


<div class="section featured-categories-home bottom">
<div class="row">
	
	{{#if banners.bottom}}
	<div class="banners homepage-banner" data-banner-location="bottom">
	    <div class="banner">
	        {{{limit banners.bottom 1}}}
	    </div>
	</div>
	{{/if}}
	
	</div>
</div>	<!-- section  -->


</div></div>
	

{{/partial}}
{{> layout/base}}
