{{#partial "page"}}

<main class="page">

<div class="container">
 <div class="row">
	<div class="cat-heading-title">
		<div class="cat-breadcrumbs col-sm-4 col-md-4 col-lg-4">
			{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
		</div>
		
		<div class="col-sm-4 col-md-4 col-lg-4 col-lg-4">
		<h1 class="page-heading">{{ page.title }}</h1>
		</div>
	</div>
 </div>
</div>



    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>

{{/partial}}

{{> layout/base}}
