---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="row product-wrapper">
    


    <div itemscope itemtype="http://schema.org/Product" class="col-md-12 col-lg-12 product-content">
        {{> components/products/product-view schema=true}}
    </div>

</div> <!-- row -->

<div class="row">
	<div class="col-lg-12">
	 	{{> components/products/tabs}}
	 
        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#if settings.show_product_reviews}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/if}}
	</div>
</div>
    


{{/partial}}
{{> layout/base}}
