// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

#maintenance_notice {
	display: none;
}

#Header {
	background: #fff;
	text-align: center;
}

.header-logo {
	padding: 1.7rem 0 1.5rem;
	text-align: center;
}

.btn {
	letter-spacing: 0;
	padding: 0.9em 1.2em 0.75em;
	background: #8ac342;
}

.btn:hover {
	background: #5a7f2b;
}


.sticky-header-checkout {
	display: block;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	background: #d0c0b2;
	color: #333;
	padding: 0.97rem 0;
	position: fixed;
	top: 0;
	font-weight: 300;
}

.page {
	margin-top: 50px;
}