// =============================================================================
// GRID (CSS)
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.container {
    margin-left: auto;
    margin-right: auto;
    //max-width: layout("max") + ($container-padding * 4);
    max-width: 1440px;
    padding: 0 $container-padding;
    position: relative;
    width: layout("fixed");

    @include breakpoint("large") {
        //padding: 0 ($container-padding * 4);
    }
}

.button {
	font-weight: 600;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
}

.section {
	float: left;
	width: 100%;
	padding: 30px 0;
}

.sub-footer {
	background: url('../img/sub-footer-bg.jpg') no-repeat;
	background-size: cover;
	padding: 35px 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.sub-footer h3 {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 600;
	margin: 10px 0 8px;
}

.sub-footer p {
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
}

.sub-footer p a {
	text-decoration: none;
	color: #fff;
}

.sub-footer p a:hover {
	text-decoration: underline;
	opacity: .8;
}

.sub-footer-mobile {
	display: none;
	text-align: center;
	margin: 15px 0 0;
	width: 100%;
}

.sub-footer-mobile .container {
	padding: 0;
}

.sub-footer-mobile h3 {
	color: #fff;
	font-size: 2.1rem;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
}

.sub-footer-mobile p {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.sub-footer-mobile a {
	color: #fff;
	text-decoration: none;
	padding: 20px;

}

.sub-footer-mobile a:hover {
	opacity: .8;
}

.sub-footer-mobile .women {
	background: url('../img/sub-footer-bg.jpg') no-repeat;
	margin-bottom: 3px;
}

.sub-footer-mobile .men {
	background: url('../img/sub-footer-bg.jpg') no-repeat;
}

.newsletter-footer {
	background: #d0c0b2;
	padding: 25px 0;
}

.newsletter-footer .socialLinks {
	margin-top: 10px;
}

.newsletter-footer h5 {
	float: left;
    margin: 5px 0 1px 0;
    font-size: 1.2rem;
    font-weight: 500;
	width: 100%;
}

.newsletter-footer p {
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.47);
}

.newsletter-footer .form {
	margin: 0;
}

.newsletter-footer .form-field {
	margin: 0;
}

.newsletter-footer .form-input {
	height: 3.5rem;
	border-radius: 0;
	border: none;
}

.newsletter-footer .button {
	height: 3.5rem;
	background: #e2dcd2;
	color: #000;
	border: none;
	border-radius: 0;
	margin: 0;
	font-weight: 500;
}

.newsletter-footer .button:hover {
	opacity: .8;
}

.newsletter-info {
	float: left;
	margin-right: 30px;
}

.socialLinks .socialLinks-item {
	margin-right: 1.7rem;
}

.footer-info-list > li {
	margin-bottom: 4px;
}

.footer-info-list .navUser-or {
	margin: 0;
	color: #999;
}

.copyright-info {
	margin: 0;
}


.category-sidebar {
	
}

.category-sidebar nav {
	max-width: 230px;
}

.category-sidebar .navPage-subMenu-list {
	display: none;
}

.category-sidebar .navPages-action {
	font-weight: 500;
	padding: 1rem 0;
	position: relative;
	cursor: pointer;
	width: 100%;
}

.category-sidebar .navPages-item {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.category-sidebar .navPage-subMenu-item {
	width: 100%;
	list-style: none;
	padding: 0 !important;
}

.category-sidebar .navPage-subMenu-item a {
	padding: 0;
	border: none;
	text-transform: none !important;
	padding-left: 15px;
	font-weight: 300;
}

.category-sidebar ul.navPage-subMenu-list {
	margin: 0 0 1.5rem;
}

.category-sidebar .navPage-childList {
	display: none;
	margin: 5px 0 10px;
}

.navPage-subMenu-item.activeSec .navPage-childList {
	display: block;
}

.category-sidebar .navPage-childList-item {
	list-style: none;
}

.category-sidebar .navPage-childList-item a {
	font-size: 1rem;
	text-transform: none;
	font-weight: 300;
}

.category-sidebar i {
	float: left;
	position: absolute;
	right: 15px;
	margin: 5px 0;
	font-size: 14px;
}

.cat-hero-banner {
	margin-bottom: 0;
}

.cat-hero-banner img {
	width: 100%;
}

.cat-heading-title {
	//border-bottom: 1px solid #ddd;
	padding: 15px 0;
	display: inline-block;
	width: 100%;
}

.cat-heading-title h1 {
	text-transform: uppercase;
	margin: 0;
}

.breadcrumbs {
	text-align: left;
	margin: 10px 0;
}

.breadcrumb {
	background: none;
	padding: 0 5px;
}

.breadcrumb a {
	color: #444;
}

.breadcrumb.is-active {
	padding-left: 0;
}

.cat-heading-title .breadcrumbs {
	margin: 0;
}

.cat-heading-title .actionBar {
	padding: 0;
	float: right;
}

.cat-sort-products {
	margin: -1px 0 -2px;
}

.cat-sort-products, .cat-breadcrumbs {
	padding: 0;
}

.viewsizelink {
	
}

a.viewsizelink b {
	font-weight: normal;
}

.modal {
	background: none;
	bottom: auto;
}

.navPages .navPage-subMenu-list {
	display: block !important;
	max-width: 290px;
}

.page {
	margin: 0 -15px;
}

.product-sidebar {

}

.product-wrapper {
	margin-top: 30px;
}

a.forgot-password {
	padding: 12px 7px 0;
	text-decoration: none;
}

a:hover.forgot-password {
	text-decoration: none;
}

.new-customer .panel {
	box-shadow: none;
}

.navUser-item--cart, .navUser-item--account {
	margin-left: 10px !important;	
}

.navUser .col-lg-6 {
	float: right;
}

.navUser-item--cart i {
	float: right;
	margin-left: 10px;
}

.navUser-item--cart .fa {
	margin: 3px 0 0 6px;
}

.navUser-action--quickSearch {

}

.navUser-item a i {
	float: left;
	font-size: 18px;
	margin: 3px 4px;
}

.cat-image {
	margin-top: -18px;
	transition: all 200ms ease-in 0s;
    -moz-transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
    -o-transition: all 200ms ease-in 0s;
    display: inline-block;
    width: 100%;
    background: #fff;
}

.cat-image:hover {
	transform: translateY(-3px);
}

.navPage-subMenu-action.is-open {
	background: none;
}

.navPage-subMenu-item .navPages-action:hover {

}

#menu .navPages-item:hover .navPage-subMenu {
	//display: block;
}

#menu .navPages-item.TRENDS {
	display: none;
}

#menu .navPages-item.LOOKBOOK {
	display: none;
}

#menu .navPages-item.Gift.Guide {
	display: none;
}

#menu .navPages-item.Brave .navPage-subMenu-list .all-items {
	display: none;
}


#product-listing-container .form-label--inlineSmall {
	display: none;
}

#product-listing-container .form-option-variant--color {
	width: 20px;
	height: 20px;
}

#product-listing-container .swatchBoxInfo {
	min-height: 40px;
	text-align: center;
}

#product-listing-container .swatchBoxInfo .form-option {
	margin-right: 0;
}

#product-listing-container .swatchBoxInfo .form-field {
	margin-bottom: 0;
	padding: 0;
}

.mobileMenu-toggle .mobileMenu-toggleIcon, .mobileMenu-toggle .mobileMenu-toggleIcon::before, .mobileMenu-toggle .mobileMenu-toggleIcon::after {
	
}
.mobileMenu-toggle.is-open .mobileMenu-toggleIcon::before, .mobileMenu-toggle.is-open .mobileMenu-toggleIcon::after {

}
	
.productGrid .button--small {
	font-size: 1rem;
	padding: 0.8rem 1.5rem;
	font-weight: 500;
}	

.forgot-password-form input.form-input {
	max-width: 350px;
}

.alertBox--info {
	background: #444;
}

.account .account-heading {
	display: none;
}

.addressList .panel {
	box-shadow: none;
}

.panel--address .form-actions {
	margin-bottom: 5px;
}

.navBar--sub .navBar-action {
	text-decoration: none;
}

.navBar--sub .navBar-action:hover {
	text-decoration: none;
}

.tabs {
	border-bottom: none;
}

.tab.is-active {
	border: 1px solid #e8e8e8;
	border-width: 0 0 1px 0;
}

a.tab-title {
	text-decoration: none;
}

.previewCartCheckout-additionalCheckoutButtons {
	margin-top: 10px;
}

.cart-additionalCheckoutButtons .FloatRight div {
	margin-top: 5px;
}

.navUser .banners {
	letter-spacing: 1px;
}

.dropdown--quickSearch.is-open {
	display: none;
}

.dropdown--quickSearch.search-opened {
	display: block;
	margin-top: 6px;
}

.dropdown--quickSearch .form-input {
	border: 1px solid #999;
}



a:focus {
	text-decoration: none;
}

.section.shop-instagram {
	padding-bottom: 0;
	padding-top: 20px;
	margin-bottom: -1rem;
}

.section.shop-instagram h2 {
	text-align: center;	
	margin: 0 0 2rem;
	font-weight: 600;
}

.section.shop-instagram h2 span {
	margin-right: 10px;
}

.section.shop-instagram .action {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 2rem 0 0;
}

.section.shop-instagram .action a {
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
}

.section.shop-instagram .action a:hover {
	opacity: .8;
	text-decoration: none;
}

.featured-categories-home {
	text-align: center;
	padding-bottom: 10px;
}

.featured-categories-home a {
	text-decoration: none;
	display: inline-block;
	margin-bottom: 27px;
	color: #888;
	width: 100%;
}

.featured-categories-home a span {
	display: block;
	width: 100%;
	font-weight: 600;
	color: #000;
	margin-bottom: -4px;
}

.featured-categories-home a img {
	margin-bottom: 5px;
	transition: all 200ms ease-in 0s;
    -moz-transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
    -o-transition: all 200ms ease-in 0s;
}

.featured-categories-home a:hover img {
	opacity: .8;
}

.featured-categories-home .inner {
	border-bottom: 1px solid #e2e2e2;
}

.featured-categories-home .tile-big {
	padding-right: 0;
}

.featured-categories-home .tile-small {
	padding-right: 0;
}

.featured-categories-home.bottom {
	padding-top: 10px;
}

.video-promo {
	position: relative;
	padding-top: 4px;
}

.video-promo .video-content {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 75px;
}

.video-promo .video-content h2 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 2.9rem;
	margin-bottom: 8px;
}

.video-promo .video-content p {
	color: #fff;
	font-size: 1.35rem;
}

.video-promo .video-content a {
	color: #fff;
	background: #000;
	text-decoration: none;
	display: inline-block;
}

.video-promo .video-content a:hover {
	opacity: .85;
}

.navPages-action.is-open {
	background: none;
}

.quickSearchResults {
	background: #fff;
}

.quickSearchResults .card-figure {
	overflow: hidden;
}

.cat-description {
	padding: 0 15px;
}

.productView-thumbnail {
	float: none;
	display: inline-block;
}


.blog-excerpts article.blog {
	width: 24%;
	display: inline-block;
	padding: 0 15px;
	text-align: left;
	vertical-align: top;
	border: none;
	margin-top: 0 !important;
	margin-bottom: 5rem;
}

.blog-excerpts .page-heading {
	display: none;
}

.blog-excerpts .socialLinks {
	display: none;
}

article.blog .blog-post-body {
	width: 100%;
}

.blog-date, .blog-author {
	text-align: left !important;
}

.blog-title {
	text-align: left;
	margin-left: 0 !important;
}

.blog .socialLinks {
	text-align: left !important;
}

a.blog-item-read-more {
	float: left;
	width: 100%;
	margin-top: 20px;
	color: #222;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	
}

a:hover.blog-item-read-more  {
	text-decoration: underline;
}

.blog-post {
	color: #666;
	font-size: 1.1rem;
}

.blog-post-figure {
	width: 100% !important;
}

.blog-thumbnail {
	height: 300px;
	overflow: hidden;
	margin-bottom: 1rem !important;
}

.blog-thumbnail a:hover {
	opacity: .8;
}

.blog-title a {
	color: #222;
}

.pin_it_iframe_widget {
	display: none;
}

.blog-thumbnail {
	display: none;
}

.blog-excerpts .blog-thumbnail {
	display: block;
}

.socialLinks .socialLinks-item {
	margin-right: 15px;
}

.addthis_toolbox a.at300b, .addthis_toolbox a.at300m {
	width: 1.33333rem !important;
}

.productView-details .need-help {
	float: right;
	margin: -25px 25px 0 0;
}

.page-heading {
	text-align: center;
	font-size: 1.9rem;
	margin: 0 15px;
	padding: 5px 5px 15px;
	//border-bottom: 1px solid #d0c0b2;
	margin-top: -32px;
	font-family: "Shadows Into Light",cursive;
	color: #6aa00f;
}

.shopping-bag-mobile {
	display: none;
	width: 16px !important;
	height: 16px !important;
	margin-top: 3px !important;
}

.shopping-bag-desktop {
	display: inline-block;
	margin: 0 2px;
}

.shopping-bag-desktop img {
	margin-top: -4px !important;
	width: 16px;
	height: 16px;
}

.page-content--centered {
	width: 100%;
}

.inside-brave-heading {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.homepage-banner {
	text-align: center;
	padding: 0;
}

.homepage-banner .banner {
	max-width: 100%;
}


.shop-instagram .fs-mobile .fs-entry-container, .shop-instagram .fs-desktop .fs-entry-container {
    float: none;
    height: 221px;
    padding-top: 0;
    width: 221px;
}

.shop-instagram .fs-entry-container {
    height: 0 !important;
    padding-top: 20% !important;
    width: 20% !important;
}

.shop-instagram .fs-mobile div.fs-timeline-entry, .shop-instagram .fs-desktop div.fs-timeline-entry {
    margin: 1.25%;
}

.shop-instagram .fs-desktop .fs-timeline-entry div.fs-text-container {
    align-items: center;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.25s ease 0s;
}

.shop-instagram .fs-slider-next-button, .shop-instagram .fs-slider-prev-button {
	width: 60px;
}

.shop-instagram .fs-timeline-entry {
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    cursor: pointer;
    left: 0;
    list-style-type: none;
    margin: 1px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0; 
}

.shop-instagram .fs-slider-next-button {
	opacity: 1;
}

 .sticky-header-checkout {
	 display: block;
	 position: absolute;
	 left: 0;
	 width: 100%;
	 padding: 0;
	 z-index: 999;
	 color: #fff;
	 letter-spacing: 1px;
	 font-weight: 500;
}

 .sticky-header-checkout .container {
	 position: relative;
 }
 
  .sticky-header-checkout span {
	  position: absolute;
	  left: 0;
	  top: 14px;
	  letter-spacing: 0;
	  color: #333;
  }

#product-listing-container .form-radio:checked + .form-option {
	box-shadow: none !important;
	border-color: #dfdfdf !important;
}

.form-option-variant--color, .form-option-variant--pattern {
	width: 20px;
	height: 20px;
}

[data-product-attribute] .form-option {
	box-shadow: none !important;
}

.page-content.half-width {
	max-width: 1024px;
	margin: 0 auto;
	float: none;
}

.form-field.swatches {
	
}

.form-field.swatches .form-label {
	float: left;
	margin: 4px 12px 0 0;
}


.swatches .form-option {
	position: relative;
}


.swatches .tooltip {
  bottom: 100%;
  display: block;
  left: 0;
  margin-bottom: 22px;
  opacity: 0;
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  width: auto;
  min-width: 200px;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.swatches .tooltip span {
	background: #000;
	color: #fff;
	padding: 5px 15px;
	min-width: 110px;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
}


.swatch-wrapper {
	float: left;
}

.swatch-wrapper:hover .tooltip {
	opacity: 1;
}

.productView-options .form-field {
	position: relative;
}

#product-listing-container .swatch-wrapper {
	float: none;
	display: inline-block;
}

#product-listing-container .swatches .tooltip {
	margin-bottom: 19px;
}

#product-listing-container .swatches .tooltip span {
	float: none;
}

.pagination {
	width: 100%;
}

.heroCarousel .slick-dots li {
	background: none;
}

.contact-us .form-actions {
	text-align: left;
}

.our-leathers p.intro {
	text-align: center;
	opacity: .8;
	font-size: 1.2rem;
}

.leather-types {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 25px;
	margin-left: 0;
}

.leather-types li {
	list-style: none;
	display: inline-block;
	margin: 3px;
}

.leather-types li a {
	position: relative;
}

.leather-types li a:hover {
	opacity: .85;
}

.our-leathers .card span.title {
	position: absolute;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	left: 0;
	right: 0;
	line-height: 231px;
}


.our-leathers .card {
    float: none;
    position: relative;
    text-align: center;
    width: 231px;
    height: 231px;
    margin: 5px;
    display: inline-block;
}

.our-leathers .card:hover .card__front {
	opacity: .8;
	cursor: pointer;
}

.our-leathers .card__front, .card__back {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.our-leathers .card__front, .card__back {
    backface-visibility: hidden;
    transition: transform 0.3s ease 0s;
}
.our-leathers .card__front {
    background-color: #fff;
}
.our-leathers .card__back {
    transform: rotateY(-180deg);
}

.our-leathers .card__back .card__text  {
	padding: 12px;
	background: #fff;
}

.our-leathers .card__back .card__text a {
	float: left;
	width: 100%;
	margin-top: 5px;
	text-align: left;
	font-size: .9rem;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}

.our-leathers .card__back .card__text a:hover {
	text-decoration: none;
	opacity: .8;
}

.our-leathers .card__back .card__text a.shop-collection {
	position: absolute;
	right: 15px;
	bottom: 10px;
	text-align: right;
}


.our-leathers .card__text {
    bottom: 0;
    display: inline-block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #000;
    color: #000;
    text-align: left;
}

.our-leathers .card-wrapper {
	width: 100%;
	text-align: center;
	margin: 40px 0;
}

.card.effect__hover:hover .card__front {
    transform: rotateY(-180deg);
}
.card.effect__hover:hover .card__back {
    transform: rotateY(0deg);
}
.card.effect__click.flipped .card__front {
    transform: rotateY(-180deg);
}
.card.effect__click.flipped .card__back {
    transform: rotateY(0deg);
}
.card.effect__random.flipped .card__front {
    transform: rotateY(-180deg);
}
.card.effect__random.flipped .card__back {
    transform: rotateY(0deg);
}

p.care-instructions {
	text-align: center;
	color: rgba(0,0,0, 0.6);
}

p.care-instructions a {
	color: #000;
}

p.care-instructions a:hover {
	text-decoration: none;
}

.page-content .cart {
	margin-top: 1.5rem;
}

.browse-juices {
	
}

.browse-juices .featured-image {
	text-align: center;
}

.browse-juices h2 {
	float: left;
	width: 100%;
	color: #5a7f2b;
	font-size: 1.8rem;
	font-family: 'Shadows Into Light', cursive;
}

.browse-juices p {
	font-weight: 400;
	color: rgba(0,0,0,0.47);
}

.browse-juices a {
	background: #8ac342;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 30px;
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: 500;
}

.browse-juices a:hover {
	background: #5a7f2b;
}

.organic-cold-pressed {
	text-align: center;
	border: 1px solid #d0c0b2;
	border-width: 1px 0;
	padding: 50px 0;
	margin-top: 30px;
}

.organic-cold-pressed h2 {
	color: #6aa00f;
	margin-top: 0;
	font-size: 1.95rem;
	font-family: 'Shadows Into Light', cursive;
}

.organic-cold-pressed h3 {
	color: #f26827;
	margin-top: 0;
	font-size: 1.6rem;
	line-height: 1.2;
	font-family: 'Shadows Into Light', cursive;
}

.brand-logos {
	text-align: center;
	padding-bottom: 0;
	margin-bottom: -80px;
}

.about-us h2 {
	color: #5a7f2b;
	font-size: 1.8rem;
	font-family: 'Shadows Into Light', cursive;
}

.about-us p {
	font-weight: 400;
	color: rgba(0,0,0,0.47);
}

.about-us .order-btn {
	
}

.about-us .order-btn a {
	font-weight: 600;
	color: #5a7f2b;
	text-decoration: none;
}

.about-us .order-btn a:hover {
	text-decoration: underline;
	color: #000;
}

.about-us .order-btn a i {
	float: left;
}

.CategoryDescription p {
	color: rgba(0,0,0,0.57);
}

.productGrid .product h4 a {
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.4rem;
	color: #5a7f2b;
}

.productGrid .product .price {
	font-size: 1.2rem;
	color: #bc9b7e;
}

.button {
	font-weight: 500;
}

.navUser .dropdown-menu {
	max-width: 21.3333rem;
}

.navUser-item--cart .dropdown-menu.is-open::after, .navUser-item--cart .dropdown-menu.is-open::before {
	left: auto;
}

.cart-total-label strong {
	font-weight: 500;
}

.cart-item-image {
	max-height: 80%;
}

.productView-title {
	font-family: 'Shadows Into Light', cursive;
	font-size: 3rem;
	color: #6aa00f;
}

.productView-details .price {
	color: #764a26;
	font-size: 2.5rem;
}

.productView-brand {
	display: none;
}

.productView-description .tabs {
	display: none;
}

#tab-description {
	padding-top: 0;
}
