.container {
	max-width: 1440px;
	position: relative;
}

#maintenance-notice {
	display: none !important;
}


.fs-normal-timeline .fs-entry-container {width: 33.333%; padding-top: 33.333%;}
.fs-wide-timeline div.fs-entry-container {padding-top: 33.333%; width: 33.333%;}


@media (min-width: 1440px) {
  .container {width: 1400px;}
  .card-figure {min-height: 255px;}
}


@media only screen and (max-width:1439px) {
	
	.container {max-width: 1170px;}
	.productView-description {margin-top: 30px; padding: 0 !important;}
 	
}

@media only screen and (min-width: 1199px) and (max-width: 1439px) { 
	
	.newsletter-footer .button {padding: 0 20px;}
	.newsletter-footer h5 {}
	newsletter-footer .social-icons {max-width: 31.333%;}
	.newsletter-footer .form-input {max-width: 75%;}
	.newsletter-footer .subscribe {padding: 0;}
	.featured-categories-home .tile-small {padding-right: 15px; padding: 0 15px 0 30px;}
	.featured-categories-home a {margin-bottom: 21px;}
	.video-promo .video-content {margin-top: 40px;}
	.productView-options .form-action {margin-top: 1rem;}
	.category-sidebar {width: 20%;}
	.card-figure {min-height: 200px;}
		
}

@media only screen and (max-width:1199px) {
	
	.container {max-width: 955px;}
	.newsletter-footer h5 {}
	.productGrid .product {width: 33.333% !important;}
	.featured-categories-home .tile-small {padding: 0 15px 0 30px;}
	.featured-categories-home a {margin-bottom: 12px;}
	.video-promo .video-content {margin-top: 12px;}
	.video-promo .video-content h2 {font-size: 2.4rem;}
	.video-promo .video-content p {font-size: 1.1rem;}
	.productView-options .form-action {margin-top: 1rem;}
	.product-sidebar {display: none;}
	.card-figure {min-height: 200px;}
	.blog-excerpts article.blog {width: 33%;}
	.navUser-item.call-us {display: none;}
	.newsletter-info {float: none; margin: 0 0 10px;}
	.footer-logo {display: none;}
}

@media only screen and (max-width: 991px) {
	
	.container {max-width: 768px;}
	.sub-footer h3 {font-size: 2rem; margin: 16px 0 4px;}
	.sub-footer p {font-size: 1rem;}
	.socialLinks .socialLinks-item {margin-right: .8rem;}
	.newsletter-footer h5 {width: 100%; margin: 0 0 6px; font-weight: 500;  }
	.newsletter-footer .socialLinks {margin-top: 35px;}
	.sub-footer .logo {padding-right: 0;}
	#menu .navPages-action {font-size: 1rem;}
	.productGrid .product {width: 33.333%;}
	.promo-banner {display: none;}
	.video-promo .video-content {margin-top: -8px;}
	.category-sidebar {width: 30%;}
	.category-content, .product-content {}
	.productView-image {min-width: 200px; min-height: 200px;}
	.card-figure {min-height: auto;}
	.blog-excerpts article.blog {width: 49%;}
	.fs-small-timeline div.fs-entry-container {width: 33.333%;}
	.fs-small-timeline div.fs-entry-container {padding-top: 33.333%;}

}

/* temp hover effect only on desktop */
@media only screen and (min-width: 991px) {
	#menu .navPages-item:hover .navPage-subMenu {display: block;}
	#menu .navPages-action.has-subMenu {pointer-events: none;}
	#menu .navPage-subMenu-action.has-subMenu {pointer-events: auto;}
}

@media only screen and (max-width: 800px) {
	
	.body {margin-bottom: 3rem;}
	.container {padding: 0 1rem;}
	body.Checkout {padding-top: 0 !important;}
	.newsletter-footer .socialLinks {margin: 15px 0 30px; text-align: center;}
	.newsletter-footer h5 {text-align: center; margin: 0 0 12px; line-height: 1.4;}
	.footer-info-col {text-align: left;}
	.footer-copyright {text-align: left;}
	.sub-footer {padding: 25px 0;}
	.sub-footer h3 {margin: 0;}
	.sub-footer .logo {padding: 0; margin: 10px 0; display: none; }
	.sub-footer .women {margin-bottom: 25px;}
	
	.sub-footer {display: none;}
	.sub-footer-mobile {display: inline-block;}
	
	.socialLinks .socialLinks-item {margin-right: 1.5rem;}
	.header {background: #fff; box-shadow: 0 0 2px #ccc;}
	.navUser {background: #fff;}
	.cat-hero-banner .container {padding: 0; max-width: 100%;}
	.cat-sort-products, .cat-breadcrumbs {display: none;}
	.navPages {background: none; border: none;}
	#menu .navPages-action {font-size: 1rem; }
	#menu .navPages-item:hover .navPage-subMenu {display: inline;}
	.navPages-quickSearch {border-bottom: none;}
	#search_query {}
	.main-banner {padding: 0; width: 100%;}
	.heroCarousel {margin: 0;}
	.slick-track {}
	.cat-image {display: none;}
	.navPages-action svg {}
	.category-sidebar {display: none;}
	.swatchBoxInfo {text-align: center;}
	.navPages .navPage-subMenu-list, .navPage-childList {}
	.navPage-subMenu-action {font-weight: 500;}
	.navPages-list + .navPages-list {}
	.navUser-item--cart .navUser-action {padding: 0; color: #2d2d2d;}
	.navUser-item--cart .fa {font-size: 1.6rem;}
	.cat-heading-title {margin-bottom: 0;}
	.page-heading {margin: 2rem 0 3rem;}
	.account-body {margin: 0 !important;}
	.new-customer {padding: 0;}
	.new-customer .button {width: 100%;}
	.new-customer-fact-list {margin: 1rem 1rem 2rem;}
	a.forgot-password {margin-top: 0 !important;}
	.login {margin: 3rem auto 0;}
	.product-wrapper {margin-top: 0;}
	.productGrid {margin: 5px 0 0 !important;}
	.category-content {padding: 0;}
	.card {margin-bottom: 0;}
	.navUser .container {padding: 0;}
	.productGrid .product {width: 50% !important;}
	.video-promo {display: none;}
	.featured-categories-home .tile-big {padding-right: 15px;}
	.featured-categories-home a {margin-bottom: 30px;}
	.category-content {width: 100%;}
	.card-title > a {font-size: .9rem;}
	.pagination {width: 100%; padding: 20px 20px 0;}
	.productView-product .productView-rating {position: absolute; right: 15px; bottom: 25px; }
	.productView-options input.button {width: 100%;}
	.productView-details {margin-bottom: 0;}
	.productView-description .tab {width: 48%; display: inline-block; border: none; border-bottom: 1px solid #eee;}
	.productView-description {margin-top: 30px;}
	.socialLinks {text-align: center;}
	.productView-options .form-field {margin-bottom: 1.5rem;}
	.button--primary {height: 50px; line-height: 50px; padding: 0 2.23333rem;}
	.newsletter-footer .form {float: left; width: 100%;}
	.page-heading {font-size: 1.5rem;}
	.pagination-item--previous {display: none !important;}
	#form-action-addToCart {width: 100%;}
	.productView-details {position: relative;}
	.productView-options .form-action {margin-top: 0;}
	.navPage-childList.is-open {display: block;} 
	.navPages-container.is-open {overflow: auto;}
	.cat-description {margin-top: 15px;}
	.card-figure {min-height: 160px;}
	.featured-categories-home {padding-top: 15px;}
	.navPages-quickSearch {position: absolute; left: 0; right: 0; z-index: 99;}
	.quickSearchResults {background: #fff;}
	.quickSearchResults .productGrid .product {}
	.quickSearchResults .productGrid {padding: 10px 0;}
	.navPages-quickSearch .form {margin: 0 35px;}
	#menu ul.navPages-list {margin-top: 60px;}
	.featured-categories-home .tile-small {padding: 0 15px;}
	.fs-narrow-timeline div.fs-entry-container {padding-top: 40%;}
	body.Shop.Social .container {padding: 0;}
	body.Shop.Social .sub-footer-mobile .container {}
	#menu .navPages-list--user {margin-top: 15px !important;}
	.countPill--positive {position: absolute; right: 18px; top: 10px; font-size: 10px; background: none;}
	.shopping-bag-mobile {width: 25px !important;height: 25px !important;margin-top: 3px !important; display: block;}
	.shopping-bag-desktop {display: none;}
	.navUser-item-cartLabel {display: none;}
	.blog-excerpts article.blog {width: 100%;}
	.page .page-heading {padding-top: 15px; margin-top: 0;}
	.blog-thumbnail {text-align: left;}
	.inside-brave-heading {margin: 15px 0;}
	#product-listing-container .swatchBoxInfo {margin-top: 15px !important; min-height: 0 !important;}
	.productView-details .need-help {float: left; width: 100%; text-align: center; margin-top: 15px; }
	#tab-related .slick-slide {}
	#tab-related .slick-dots {}
	#tab-related .slick-next, #tab-related .slick-prev {display: none !important;}
	#tab-related .tab-content.has-jsContent.is-active {padding: 0;}	
	#tab-related .card-title {min-height: 55px;}
	.productView-info-name, .productView-info-value {float: none;}
	.productView-product .productView-rating {display: none;}
	.productView-product > *:last-child {margin-bottom: 8px;}
	.form-field.swatches .form-label {float: none; margin: inherit;}
	.breadcrumbs {display: none;}
	.swatch-wrapper {float: none; display: inline-block;}
	.swatches .tooltip span {width: 100%; margin-bottom: -10px;}
	.heroCarousel .slick-next, .heroCarousel .slick-prev {display: none !important;}
	.our-leathers p.intro {margin-top: 35px;}
	.fs-small-timeline div.fs-entry-container {width: 33.333%;}
	.fs-narrow-timeline div.fs-entry-container {width: 33.333%; padding-top: 33.333%;}
	.sticky-header-checkout {position: relative; background: #d0c0b2; text-align: center; padding: 10px 0; letter-spacing: 0; line-height: 1.2; z-index: 1;}
	.sticky-header-checkout span {position: relative; text-align: center; top: 0;}
	#product-listing-container .swatchBoxInfo {display: none !important;}
	.footer-logo {display: none;}
	.footer {padding: 3rem 0;}
	.footer-copyright {text-align: center;}
	.newsletter-info {text-align: center; margin: 0 0 20px;}
	.newsletter-footer h5 {font-size: 1.4rem; margin: 0 0 5px;}
	.cat-heading-title {padding-bottom: 0;}
	.cat-heading-title h1 {padding-bottom: 0;}
	.navUser-item a i {font-size: 1.5rem; margin-top: 7px; }
	.countPill {display: none;}
	.browse-juices {text-align: center;}
	.browse-juices p {margin-bottom: 12px;}
	.browse-juices .col-lg-4 {margin-bottom: 40px;}
	.socialLinks {text-align: left;}
	.socialLinks .socialLinks-item {}
	.brand-logos {margin-bottom: -40px;}
	.about-us {padding-bottom: 0;}
	.about-us p {padding-top: 7px;}
}


