<nav>

	{{#each categories}}
    <li class="navPages-item">
    	
    	{{#if children}}
			<div class="navPages-action has-subMenu">
			    <i class="material-icons">keyboard_arrow_down</i> {{name}} 
			</div>
			

			    <ul class="navPage-subMenu-list">
			        <li class="navPage-subMenu-item first-row">
			            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
			        </li>
			        {{#each children}}
			            <li class="navPage-subMenu-item second-row">
			                {{#if children}}
			                    <a
			                        class="navPage-subMenu-action navPages-action has-subMenu"
			                        href="{{url}}"
			                        data-collapsible="navPages-{{id}}"
			                        data-collapsible-disabled-breakpoint="medium"
			                        data-collapsible-disabled-state="open"
			                        data-collapsible-enabled-state="closed">
			                        {{name}}
			                    </a>
			                    <ul class="navPage-childList" id="navPages-{{id}}">
			                        {{#each children}}
			                        <li class="navPage-childList-item thrid-row">
			                            <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
			                        </li>
			                        {{/each}}
			                    </ul>
			                {{else}}
			                    <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
			                {{/if}}
			            </li>
			        {{/each}}
			    </ul>

			{{else}}
			<a class="navPages-action" href="{{url}}">{{name}}</a>
		{{/if}}

    </li>
    {{/each}}
	
	<!--
    {{#if category.subcategories}}
    <div class="sidebarBlock">
        <h5 class="sidebarBlock-heading">{{category.name}}</h5>
        <ul class="navList">
            {{#each category.subcategories}}
            <li class="navList-item">
                <a class="navList-action" href="{{url}}" alt="{{name}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}} -->

   {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}} 
</nav>
