// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    margin: spacing("double") auto spacing("double")*2;
    max-width: remCalc(900px);
}

.login-row {
    @include grid-row();
    @include breakpoint("medium") {
        margin-top: spacing("double")*2;
    }
}

.login-form {
    @include grid-column(12);

    @include breakpoint("medium") {
        @include grid-column(6);

        margin-top: spacing("single");
        padding: 0 50px;
    }
}

.new-customer {
    @include grid-column(12);
    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    margin-left: spacing("double");
}

.new-customer-fact {
    padding-left: spacing("half");
}
