<ul class="productGrid">
    {{#each products}}
    <li class="product" data-id="{{id}}">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings}}
    </li>
    {{/each}}
</ul>
